body{
    font-family: 'Poppins', sans-serif;
}
.margin-control{
    margin-right: 0!important;
}

@media (max-width: 768px) { 
    #ulSecondNav{
        display: flex!important;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .responsive{
        margin-top: 15px;
    }
 }

@media (max-width: 576px) { 
    .responsive{
        margin-top: 5px;

    
    }
    #ulSecondNav{
        display: flex!important;
        flex-direction: column;
    }
 }
